.DS_Store
nbproject
manifest.mf
build.xml
*.log
*.iml
.project
.settings
.idea/*
registration-ui/node_modules/*
registration-ui/test_out
registration-ui/test/output
*target
registration-ui/output
registration-ui/.sass-cache
registration-ui/.tmp
registration-ui/node_modules
registration-ui/app/components
registration-ui/dist
omod/src/main/webapp/*
